name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        id: snake
        with:
          github_user_name: lucas-cinquetti
          outputs: dist/snake.svg

      - uses: actions/upload-artifact@v4
        with:
          name: snake
          path: dist/snake.svg

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generate Snake"
          file_pattern: dist/snake.svg
